**In this notebook, I try filling missing data (precinct) by two different ways:**

*   **Filling missing data (administrativeArea_1 column) by using geocoder library:**

In [ ]:
import pandas as pd
#read
dataset = pd.read_excel (r'/content/Test Data Analyst edited.xlsx')
#display
dataset.head()

                        _id  ... ageGroupNormalized
0  5ee0bbb643d9f3001754b7d2  ...              18-25
1  5ee0d6b5cff9710017be41a9  ...              36-45
2  5ee11b3839d22500172fe458  ...              18-25
3  5ee11b9939d22500172fe45c  ...              36-45
4  5ee11c0f39d22500172fe463  ...              26-35

[5 rows x 19 columns]

In [ ]:
!pip install geopy

Requirement already satisfied: geopy in /usr/local/lib/python3.7/dist-packages (1.17.0)
Requirement already satisfied: geographiclib<2,>=1.49 in /usr/local/lib/python3.7/dist-packages (from geopy) (1.52)

In [ ]:
# import module
from geopy.geocoders import Nominatim

In [ ]:
# initialize Nominatim API
geolocator = Nominatim(user_agent="geoapiExercises")

In [ ]:
# find rows that are without province name
rows_without_province_name = dataset[dataset['administrativeArea_1'].isnull()]
print(rows_without_province_name)
#find address by latitude and longitude
for index, row in rows_without_province_name.iterrows():
  Latitude = str(row.latitude)
  Longitude = str(row.longitude)
  location = geolocator.reverse(Latitude+","+Longitude)
  if (index != 3315 and index != 3002): 
    #display the address 
    print(location)

                            _id  ... ageGroupNormalized
11     5ee11c5d39d22500172fe47d  ...              26-35
995    5ee5f0b6d20fd30017bd203c  ...              18-25
1205   5ee43a65d438c60017f6b197  ...              18-25
1427   5ee4b4b6d20fd30017bd1595  ...              18-25
3002   5ee2e984dacbcd00177790b0  ...              46-55
3315   5ee324a3dacbcd0017779671  ...              18-25
3758   5ee34e1bdacbcd0017779e19  ...              26-35
3920   5ee358c4dacbcd001777a0e9  ...              26-35
5301   5ee3c806d438c60017f6a926  ...              18-25
5764   5ee160a139d22500172ff665  ...              26-35
6617   5ee2012739d22500173005d3  ...              26-35
6647   5ee203f139d225001730065c  ...              36-45
7042   5ee20b5c39d2250017300cce  ...              18-25
7998   5ee2177439d2250017301d60  ...              36-45
8008   5ee217a839d2250017301d8e  ...              26-35
8296   5ee21c1139d22500173022a9  ...              18-25
10023  5ee24e1639d2250017304147  ...              18-25
10152  5ee2531c39d225001730438e  ...              18-25
10171  5ee2538639d22500173043e1  ...              26-35
11224  5ee2701339d225001730565a  ...              18-25
11718  5ee27cdfdacbcd0017776c12  ...              18-25

[21 rows x 19 columns]
شعب محمود, السعودية
خبة الجندلية, منطقة الرياض, السعودية
جزيرة العادات, محافظة جدة, منطقة مكة المكرمة, 21494, السعودية
السعودية
الدهناء, المنطقة الشرقية, السعودية
جدة, محافظة جدة, منطقة مكة المكرمة, 23434, السعودية
جدة, محافظة جدة, منطقة مكة المكرمة, 23434, السعودية
السعودية
الإمام عبد الله بن سعود بن عبد العزيز, Al Ishbiliyah District حي اشبيلية, Al Rawda Muncipality, محافظة الرياض, منطقة الرياض, 62800, السعودية
السعودية
شعب جدة, السعودية
الحمدانية, منطقة الرياض, السعودية
جدة, محافظة جدة, منطقة مكة المكرمة, 23434, السعودية
السعودية
جزيرة العادات, محافظة جدة, منطقة مكة المكرمة, 21494, السعودية
السعودية
هرامل, السعودية
جزيرة العادات, محافظة جدة, منطقة مكة المكرمة, 21494, السعودية
السعودية
السعودية

*   **Filling missing data (administrativeArea_1 column) by using ML (KNN algorithm):**

In [ ]:
#read training_dataset
training_dataset = pd.read_excel (r'/content/training dataset.xlsx')
#display
training_dataset.head()

  administrativeArea_1   latitude  longitude
0       Tabuk Province  28.358996  36.503661
1       Tabuk Province  28.408624  36.584514
2       Tabuk Province  28.431240  36.555689
3       Tabuk Province  28.452230  36.546338
4       Tabuk Province  28.417059  36.574782

In [ ]:
#read testing_dataset
testing_dataset = pd.read_excel (r'/content/testing dataset.xlsx')
#display
testing_dataset.head()

  administrativeArea_1   latitude  longitude
0     Al Baha Province  20.119129  41.404526
1     Al Baha Province  20.003410  41.469883
2     Al Baha Province  20.003691  41.469898
3     Al Baha Province  20.103132  41.288879
4     Al Baha Province  20.103434  41.289004

In [ ]:
#split datasets' columns to X (features) and Y (labels)
#training
X_train = training_dataset.iloc[:,1:3]
Y_train = training_dataset.iloc[:,0]
#testing
X_test = testing_dataset.iloc[:,1:3]
Y_test = testing_dataset.iloc[:,0]

In [ ]:
#import KNeighborsClassifier (KNN)
from sklearn.neighbors import KNeighborsClassifier as KNC
#model building for k=3
neigh=KNC(n_neighbors=3)
#train the model and test the model on training_dataset
neigh.fit(X_train,Y_train)
train_predict=neigh.predict(X_train)
pd.crosstab(train_predict,Y_train)

administrativeArea_1       Al Baha Province  ...  Tabuk Province
row_0                                        ...
Al Baha Province                         60  ...               0
Al Jouf Province                          0  ...               0
Al Madinah Province                       0  ...               1
Al Qassim                                 0  ...               0
Aseer Province                            0  ...               0
Eastern Province                          0  ...               0
Hail Province                             0  ...               0
Jazan                                     0  ...               0
Makkah Province                           0  ...               0
Najran Province                           0  ...               0
Northern Borders Province                 0  ...               0
Riyadh Province                           0  ...               0
Tabuk Province                            0  ...              56

[13 rows x 13 columns]

In [ ]:
#calculate training accuracy
train_acc=np.mean(train_predict==Y_train)
train_acc

0.9994471472799646

In [ ]:
#validate the model on testing_dataset
test_predict=neigh.predict(X_test)
pd.crosstab(test_predict,Y_test)

administrativeArea_1  Al Baha Province  ...  Tabuk Province
row_0                                   ...
Al Baha Province                    15  ...               0
Al Jouf Province                     0  ...               0
Al Madinah Province                  0  ...               0
Al Qassim                            0  ...               0
Aseer Province                       0  ...               0
Eastern Province                     0  ...               0
Hail Province                        0  ...               0
Jazan                                0  ...               0
Makkah Province                      0  ...               0
Najran Province                      0  ...               0
Riyadh Province                      0  ...               0
Tabuk Province                       0  ...              15

[12 rows x 13 columns]

In [ ]:
#calculate testing accuracy
test_acc=np.mean(test_predict==Y_test)
test_acc

0.9991154356479434

In [ ]:
#to find best k value for building best model
acc=[]
for i in range(3,20,4):
    neigh=KNC(n_neighbors=i)
    neigh.fit(X_train,Y_train)
    train_acc=np.mean(neigh.predict(X_train)==Y_train)
    test_acc=np.mean(neigh.predict(X_test)==Y_test)
    acc.append([train_acc,test_acc])

acc

[[0.9994471472799646, 0.9991154356479434],
 [0.998562582927908, 0.9991154356479434],
 [0.9975674480318443, 0.9991154356479434],
 [0.9973463069438302, 0.9982308712958867],
 [0.9963511720477665, 0.9982308712958867]]

So, the best model when k= 3

**The end...**